apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api
  labels:
    app: demo-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-api
      version: v1
  template:
    metadata:
      labels:
        app: demo-api
        version: v1
    spec:
      containers:
      - name: demo-api
        image: registry.devops.7f8254f4188647b4be19.eastus.aksapp.io/msteste:1.0.1
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: demo-api
spec:
  selector:
    app: demo-api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: demo-api
spec:
  gateways:
    - default/default
  hosts:
  - api.istio.7f8254f4188647b4be19.eastus.aksapp.io
  http:
  - name: "http-routes"
    match:
    - uri:
        prefix: "/"
    route:
    - destination:
        host: demo-api
        subset: v1
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: demo-api
spec:
  host: demo-api
  subsets:
  - name: v1
    labels:
      version: v1
